.git
.gitignore
.env
node_modules/
vendor/
tests/
storage/*.cache
storage/logs
storage/framework/sessions
storage/framework/cache
storage/framework/views
public/build
bootstrap/cache/*.php
README.md
phpunit.xml
*.sqlite